
.navBarCol{
    height: 53px;
}
.contentCol{
    padding: 0;
}

/* Media Query */
@media (max-width: 767px) {
    body {
        padding-top: 50px;
    }
    .navBarCol{
        height: auto;
    }
}